<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>

	<connectionStrings>
		<add name="WpfAppDbContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=WpfApp;Integrated Security=True;" />
		<add name="HangfireDbContext" providerName="System.Data.SqlClient" connectionString="Server=.\SQLEXPRESS;Database=WpfApp_Hangfire;Integrated Security=True;" />
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.1.0" newVersion="4.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
